<div class="nav-panel" [ngClass]="{'leftPaneCollapse': isCollapse}">
    <div class="searchbox">
      <input type="text" placeholder="" />
      <button><i class="search-icon"></i></button>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link active" href="#"><i class="icon dashboard-icon"></i> <p>Dashboard</p></a></li>
        <li class="nav-item dropdown"> 
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><i class="icon laptop-icon"></i> <p>Common Configuration</p> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Content Management</a></li>
                <li><a class="dropdown-item" href="#">Info Message Management</a></li>
                <li><a class="dropdown-item" href="#">Menu Management</a></li>
                <li><a class="dropdown-item" href="#">Error Message Management</a></li>
                <li><a class="dropdown-item" href="#">Help Text Management</a></li>
                <li><a class="dropdown-item" href="#">Device Version</a></li>
                <li><a class="dropdown-item" href="#">Campaign Management</a></li>
                <li><a class="dropdown-item" href="#">Limit Management</a></li>
                <li><a class="dropdown-item" href="#">Manage Swift Bank</a></li>
                <li><a class="dropdown-item" href="#">All User Password Reset</a></li>
                <li><a class="dropdown-item" href="#">Loan Interest Configuration</a></li>
                <li><a class="dropdown-item" href="#">Manage Budget Category</a></li>
                <li><a class="dropdown-item" href="#">Branch / ATM Management</a></li>
                <li><a class="dropdown-item" href="#">Break TD Reason Management</a></li>
                <li><a class="dropdown-item" href="#">Goal Category Management</a></li>
                <li><a class="dropdown-item" href="#">Back Office User Management</a></li>
                <li><a class="dropdown-item" href="#">Transaction Attribute</a></li>
                <li><a class="dropdown-item" href="#">Transaction Fee Management</a></li>
                <li><a class="dropdown-item" href="#">Send Notification</a></li>
                <li><a class="dropdown-item" href="#">Manage Security Images</a></li>
                <li><a class="dropdown-item" href="#">Manage Block List</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon avatar-icon"></i> <p>Transactional Configuration</p> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
              <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon bank-icon"></i> <p>Banking</p> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
              <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon user-icon"></i> <p>Customer Management</p> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
              <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon report-icon"></i> <p>Reports</p> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
              <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon shield-icon"></i> <p>Security Settings</p> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
              <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
              <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
            </ul>
        </li>
    </ul>
</div>
