<div class="top-navbar">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer" routerLinkActive="active">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Profit</a>
        </li>
    </ul>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
