@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.infoboxs {
    padding: 0;
    .card {
        width: 100%;
        min-width: 200px;
        display: inline-flex;
        flex-direction: column;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #E2E3EA;
        border-radius: 8px;
        margin: 15px 0;
        font-family: 'Montserrat', sans-serif;
        
        &.newCustomer{
            border: 1px solid #F86B00;
        }
        &.enrollment{
            border: 1px solid #FEC52F;
        }
        &.transaction{
            border: 1px solid #1665DB;
        }
        &.profit{
            border: 1px solid #35C535;
        }
        .card-body-top {
            clear: both;
            img {
                display: inline-block;
                vertical-align: bottom;
            }
            .card-body-top-title {
                display: inline-block;
                padding-left: 10px;
                h5 {
                    display: block;
                    font: normal normal 600 16px/19px 'Montserrat', sans-serif;
                    letter-spacing: 0px;
                    color: #000000;
                    padding: 5px 0 0 0;
                    margin: 0;
                }
                span {
                    float: left;
                    display: block;
                    text-align: left;
                    font: normal normal normal 13px/16px 'Montserrat', sans-serif;
                    letter-spacing: 0px;
                    color: #606989;
                    padding: 0;
                }
            }
            span {
                float: right;
                text-align: right;
                font: normal normal 600 16px/19px 'Montserrat', sans-serif;
                letter-spacing: 0px;
                color: #000000;
                padding: 5px 0 0 0;
            }
        }
        
        h6 {
            font: normal normal 800 26px/32px 'Montserrat', sans-serif;
            letter-spacing: 0px;
            color: #000000;
            text-align: right;
        }
        p {
            font: normal normal medium 13px/16px 'Montserrat', sans-serif;
            letter-spacing: 0px;
            color: #000000;
            text-align: right;
            font-size: 0.98rem;
        }
    }
}