<div class="infoboxs">
    <div class="card newCustomer">
        <div class="card-body">
            <div class="card-body-top">
                <img src="assets/images/add-friend.svg" alt="add-friend" />
                <div class="card-body-top-title">
                    <h5 class="card-title"> New Customer</h5>
                    <span>August 2020</span>
                </div>
                <span>7%</span>
            </div>
            <h6>356</h6>
            <p class="card-text">289 (Last Month)</p>
        </div>
    </div>
    <div class="card enrollment">
        <div class="card-body">
            <div class="card-body-top">
                <img src="assets/images/invoice.svg" alt="invoice" />
                <div class="card-body-top-title">
                    <h5 class="card-title"> Enrollment</h5>
                    <span>August 2020</span>
                </div>
                <span>8%</span>
            </div>
            <h6>126</h6>
            <p class="card-text">116 (Last Month)</p>
        </div>
    </div>
</div>