<div class="graphBox">
    <div class="row row-no-gutters">
        <div class="col">
            <div class="graph-box">
                <h3>New Customer & Enrollment Trends</h3>
                <img src="assets/images/new-customer-enrollment-trends.jpg" alt="graph" class="img-fluid" />
            </div>
        </div>
    </div>
    <div class="row row-no-gutters">
        <div class="col">
            <div class="graph-box">
                <h3>Active/Passive Customer & Login Counts</h3>
                <img src="assets/images/active-passive-login-count.jpg" alt="graph" class="img-fluid" />
            </div>
        </div>
    </div>
</div>