<div class="infoboxs">
    <div class="card newCustomer">
        <div class="card-body">
        <h5 class="card-title"><img src="assets/images/add-friend.svg" alt="add-friend" /> New Customer</h5>
        <h6>34</h6>
        <p class="card-text">32 (Yesterday)</p>
        </div>
    </div>
    <div class="card enrollment">
        <div class="card-body">
        <h5 class="card-title"><img src="assets/images/invoice.svg" alt="invoice" /> Enrollment</h5>
        <h6>5</h6>
        <p class="card-text">7 (Yesterday)</p>
        </div>
    </div>
    <div class="card transaction">
        <div class="card-body">
        <h5 class="card-title"><img src="assets/images/money.svg" alt="money" /> Transaction</h5>
        <h6>16,659</h6>
        <p class="card-text">12,745 (Yesterday)</p>
        </div>
    </div>
    <div class="card profit">
        <div class="card-body">
        <h5 class="card-title"><img src="assets/images/stats.svg" alt="stats" /> Profit</h5>
        <h6>£9,58,235.00</h6>
        <p class="card-text">£7,58,235.00 (Yesterday)</p>
        </div>
    </div>
</div>