<div class="graphBox">
    <div class="row row-no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="graph-box">
                <h3>Total Login Count</h3>
                <img src="assets/images/login-count.jpg" alt="graph" class="img-fluid" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="graph-box">
                <h3>Login Customer Count</h3>
                <img src="assets/images/customer-count.jpg" alt="graph" class="img-fluid" />
            </div>
        </div>
    </div>
    <div class="row row-no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="graph-box">
                <h3>Transaction Count</h3>
                <img src="assets/images/transaction-count.jpg" alt="graph" class="img-fluid" />
            </div>
        </div>
    </div>
</div>