.graphBox {
    padding: 0;
    .graph-box {
        min-width: 200px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #E2E3EA;
        border: 1px solid #D8D8D8;
        border-radius: 8px;
        margin: 15px 0;
        padding: 15px;

        h3 {
            font: normal normal 600 16px/19px 'Montserrat', sans-serif;
            letter-spacing: 0px;
            color: #000000;
        }

        img {
            width: 100%;
        }
    }
}